<%= form_for(@d_play) do |f| %>
<div id="d-form">
<h1>Add Defensive Play</h1>
	<div class="field">
    	<%= f.label :name %><br>
    	<%= f.text_field :name %>
    </div>
  	<div class="field">
    	<%= f.label :picture %><br>
    	<%= f.text_field :picture %>
  	</div>
  	<div class="field">
    	<%= f.label :formation %><br>
    	<%= f.text_field :formation %>
  	</div>
  	<div class="field">
    	<%= f.label :play_type %><br>
    	<%= f.text_field :play_type %>
  	</div>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
</div>
<% end %>