<div id="d-backdrop">
	<div id="d-list">
		<h1>Defensive Plays</h1>
			<% @d_plays.each do |d_play| %>
			<p class="d-playiterate">
				<%= d_play.formation %>
    			<%= d_play.name %>
    			<%= d_play.picture %>	
    			<%= d_play.play_type %>
    			<span>
    				<%= link_to 'Destroy', d_play, method: :delete, data: { confirm: 'Are you sure?' } %>
    			</span>
    		</p>
    		<% end %>
	</div>
	<%= render 'form' %>
</div>