<%= form_for(@team_has_d) do |f| %>
  <% if @team_has_d.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_has_d.errors.count, "error") %> prohibited this team_has_d from being saved:</h2>

      <ul>
      <% @team_has_d.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :dPlay_id %><br>
    <%= f.number_field :dPlay_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
