<%= form_for(@team_has_o) do |f| %>
<h1>Add Team O-Play</h1>
	<div class="field">
    	<%= f.label "Team Name" %><br />
		<%= f.collection_select :team_id, Team.all, :id, :tname, :prompt => 'Select A Team' %>
  	</div>
  	<div class="field">
    	<%= f.label "Select Play" %><br />
		<%= f.collection_select :oPlay_id, OPlay.all, :id, :oplayname, :prompt => 'Select A Play' %>
  	</div>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>
