<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teamHasO_id %><br>
    <%= f.number_field :teamHasO_id %>
  </div>
  <div class="field">
    <%= f.label :teamHasD_id %><br>
    <%= f.number_field :teamHasD_id %>
  </div>
  <div class="field">
    <%= f.label :qtr %><br>
    <%= f.number_field :qtr %>
  </div>
  <div class="field">
    <%= f.label :clock %><br>
    <%= f.time_select :clock %>
  </div>
  <div class="field">
    <%= f.label :down %><br>
    <%= f.number_field :down %>
  </div>
  <div class="field">
    <%= f.label :yds_togo %><br>
    <%= f.number_field :yds_togo %>
  </div>
  <div class="field">
    <%= f.label :side %><br>
    <%= f.text_field :side %>
  </div>
  <div class="field">
    <%= f.label :yd_line %><br>
    <%= f.number_field :yd_line %>
  </div>
  <div class="field">
    <%= f.label :ball_pos %><br>
    <%= f.text_field :ball_pos %>
  </div>
  <div class="field">
    <%= f.label :pass_dist %><br>
    <%= f.text_field :pass_dist %>
  </div>
  <div class="field">
    <%= f.label :pass_dir %><br>
    <%= f.text_field :pass_dir %>
  </div>
  <div class="field">
    <%= f.label :run_type %><br>
    <%= f.text_field :run_type %>
  </div>
  <div class="field">
    <%= f.label :run_loc %><br>
    <%= f.text_field :run_loc %>
  </div>
  <div class="field">
    <%= f.label :run_dir %><br>
    <%= f.text_field :run_dir %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.number_field :result %>
  </div>
  <div class="field">
    <%= f.label :score_diff %><br>
    <%= f.number_field :score_diff %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
