<h1>Game Rollup</h1>
      Teamhaso
      Teamhasd
      Qtr
      Clock
      Down
      Yds togo
      Side
      Yd line
      Ball pos
      Pass dist
      Pass dir
      Run type
      Run loc
      Run dir
      Result
      Score diff
    <% @games.each do |game| %>
        <%= game.teamHasO_id %>
        <%= game.teamHasD_id %>
        <%= game.qtr %>
        <%= game.clock %>
        <%= game.down %>
        <%= game.yds_togo %>
        <%= game.side %>
        <%= game.yd_line %>
        <%= game.ball_pos %>
        <%= game.pass_dist %>
        <%= game.pass_dir %>
        <%= game.run_type %>
        <%= game.run_loc %>
        <%= game.run_dir %>
        <%= game.result %>
        <%= game.score_diff %>
        <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<%= render 'form' %>