<p id="notice"><%= notice %></p>

<p>
  <strong>Teamhaso:</strong>
  <%= @game.teamHasO_id %>
</p>

<p>
  <strong>Teamhasd:</strong>
  <%= @game.teamHasD_id %>
</p>

<p>
  <strong>Qtr:</strong>
  <%= @game.qtr %>
</p>

<p>
  <strong>Clock:</strong>
  <%= @game.clock %>
</p>

<p>
  <strong>Down:</strong>
  <%= @game.down %>
</p>

<p>
  <strong>Yds togo:</strong>
  <%= @game.yds_togo %>
</p>

<p>
  <strong>Side:</strong>
  <%= @game.side %>
</p>

<p>
  <strong>Yd line:</strong>
  <%= @game.yd_line %>
</p>

<p>
  <strong>Ball pos:</strong>
  <%= @game.ball_pos %>
</p>

<p>
  <strong>Pass dist:</strong>
  <%= @game.pass_dist %>
</p>

<p>
  <strong>Pass dir:</strong>
  <%= @game.pass_dir %>
</p>

<p>
  <strong>Run type:</strong>
  <%= @game.run_type %>
</p>

<p>
  <strong>Run loc:</strong>
  <%= @game.run_loc %>
</p>

<p>
  <strong>Run dir:</strong>
  <%= @game.run_dir %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>Score diff:</strong>
  <%= @game.score_diff %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
